name: Deploy Portfolio

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t my-portfolio .

    - name: Test Docker Container
      run: docker run -d -p 8080:80 my-portfolio

    - name: Install Netlify CLI
      run: npm install -g netlify-cli

    - name: Deploy to Netlify
      run: |
        netlify deploy --prod \
          --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} \
          --site ${{ secrets.NETLIFY_SITE_ID }} \
          --dir .
